<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
       Simple-21
    </title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="./css/custom.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <noscript>
      <strong>We're sorry but Simple-21 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>  
    <div id="app"> 

        <div id="bg"></div>
        
        <!---------OFFLINE WARNING---------->
        <div class="offline-warning">
            <transition name="bounce">
                <div class="container center" v-show="!is_online" v-on:click="is_online = true">
                    <div class="row">
                        <div class="col s12 m2"></div>
                        <div class="col s12 m8">
                            <div class="chip red white-text center">
                                <span class="white-text" v-show="langCheck('ind')">Perangkat Anda Sedang Offline!</span>
                                <span class="white-text" v-show="langCheck('en')">Your Device is Offline!</span>
                            </div>
                        </div>
                        <div class="col s12 m2"></div>
                    </div>
                </div>
            </transition>
        </div>


        <!---------LOADING---------->
        <div class="preloader-background" v-show="is_loading">
            
            <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
                <div class="valign" style="width:100%;">
                    <div class="container">
                        <div class="row">
                            <div class="center col s12 m6 offset-m3">
                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!---------MODAL CREATE ROOM---------->
        <div id="modal-create-room" class="modal modal-fixed-footer modal-fixed-header">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="center green-text">
                        <br />
                        <span v-show="langCheck('ind')">Buat Ruangan</span>
                        <span v-show="langCheck('en')">Create Room</span>
                    </h5>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s10 m10 l10">
                            <div class="input-field">
                                <input id="roomname" type="text" class="validate" v-model="add_room.name" :placeholder="add_room.name">
                                <label for="roomname">
                                    <span v-show="langCheck('ind')">Nama Ruangan</span>
                                    <span v-show="langCheck('en')">Room Name</span>
                                </label>   
                            </div>
                        </div>
                        <div class="col s2 m2 l2">
                            <br />
                            <a style="cursor: pointer;" @click="randomName('');add_room.name = random_name"><i class="small material-icons green-text">casino</i></a>
                        </div>
                    </div>
                    <div class="card-panel white">
                        <h6 class="green-text">
                            <span v-show="langCheck('ind')">Pemain ({{ players.length }})</span>
                            <span v-show="langCheck('en')">Players ({{ players.length }})</span>
                        </h6>
                        <p v-show="players.length <= 1">-                                         
                            <span v-show="langCheck('ind')">Tidak Ada Pemain Lain</span>
                            <span v-show="langCheck('en')">No Other Player Online</span> 
                        -</p>
                        <ul class="collection" v-for="p in players" v-bind:key="p.id" v-show="p.id != player.id">
                            <li class="collection-item avatar">
                                <i class="material-icons circle green">account_circle</i>
                                <span class="title">
                                    {{ p.name }} 
                                </span>
                                <br />
                                <i :class="{'material-icons':true,'red-text':!p.is_online,'green-text':p.is_online}">{{ p.is_online ? "link" : "link_off" }}</i>
                                </p>
                                <a class="secondary-content">
                                    <a style="cursor: pointer;" class="secondary-content"  @click="add_room.players.push(p)"  v-show="!add_room.players.includes(p)"><i class="material-icons green-text">send</i></a>
                                    <a class="secondary-content" v-show="add_room.players.includes(p)"><i class="material-icons green-text">check</i></a>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-light btn-medium btn green white-text" style="text-transform:none;width: 100%;" @click="addRoom">
                    <b>
                        <span v-show="langCheck('ind')">Buat</span>
                        <span v-show="langCheck('en')">Create</span>
                    </b>    
                </a>
            </div>
        </div>

        <!---------SIGN IN PAGE---------->
        <div v-show="getPageName == 'login-page'">

            <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
                <div class="valign" style="width:100%;">
                    <div class="container">
                       <div class="row">
                          <div class="col s12 m8 l6 offset-m2 offset-l3">

                            <div class="card">
                                <div class="card-title">
                                    <h5 class="center green-text">
                                        <br />
                                        <span v-show="langCheck('ind')">Selamat datang!</span>
                                        <span v-show="langCheck('en')">Welcome!</span>
                                    </h5>
                                </div>
                                <div class="card-image">
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s10 m10 l10">
                                            <div class="input-field">
                                                <input id="fullname" type="text" class="validate" v-model="player.name" :placeholder="player.name">
                                                <label for="fullname">
                                                    <span v-show="langCheck('ind')">Nama Pemain</span>
                                                    <span v-show="langCheck('en')">Player Name</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s2 m2 l2">
                                            <br />
                                            <a style="cursor: pointer;" @click="randomName('yes');player.name = random_name"><i class="small material-icons green-text">casino</i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="center card-action">
                                    <a class="waves-effect waves-light btn-large btn green white-text" style="text-transform:none;width: 100%;" @click="addPlayer">
                                        <b>
                                            <span v-show="langCheck('ind')">Masuk</span>
                                            <span v-show="langCheck('en')">Enter</span>
                                        </b>    
                                    </a>
                                </div>
                              </div>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>


        <!---------LOBBY PAGE---------->
        <div v-show="getPageName == 'main-page'">

            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12"> 
                        <div class="card-panel white">                     
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle green">account_circle</i>
                                    <span class="title">{{ player.name }}</span>
                                    <p> $ {{ player.money }}</p>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="center col s6 s6 l6">
                                    <br />
                                    <a class="col s12 waves-effect waves-light btn-large green white-text modal-trigger" data-target="modal-create-room">
                                        <span v-show="langCheck('ind')">Buat Ruangan</span>
                                        <span v-show="langCheck('en')">Create Room</span>
                                    </a>
                                    
                                </div>
                                <div class="center col s6 s6 l6">
                                    <br />
                                    <a class="col s12 waves-effect waves-light btn-large grey white-text" @click="exit">
                                        <span v-show="langCheck('ind')">Keluar</span>
                                        <span v-show="langCheck('en')">Exit</span>
                                    </a>
                                    
                                </div> 
                            </div> 
                        </div>                        
                    </div>
                </div>        
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="card-panel white">
                            <h6 class="green-text">
                                <span v-show="langCheck('ind')">Pemain ({{ players.length }})</span>
                                <span v-show="langCheck('en')">Players ({{ players.length }})</span>
                            </h6>
                            <p v-show="players.length <= 1">-                                         
                                <span v-show="langCheck('ind')">Tidak Ada Pemain Lain</span>
                                <span v-show="langCheck('en')">No Other Player Online</span> 
                            -</p>
                            <ul class="collection" v-for="p in players" v-bind:key="p.id" v-show="p.id != player.id">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle green">account_circle</i>
                                    <span class="title">
                                        {{ p.name }} 
                                    </span>
                                    <p>$ {{ p.money }} <br>
                                    </p>
                                    <a class="secondary-content"><i :class="{'material-icons':true,'red-text':!p.is_online,'green-text':p.is_online}">{{ p.is_online ? "link" : "link_off" }}</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s12 m6 l8">
                        <div class="card-panel white">
                            <h6 class="green-text">
                                <span v-show="langCheck('ind')">Ruang Bermain ({{ rooms.length }})</span>
                                <span v-show="langCheck('en')">Rooms ({{ rooms.length }})</span>
                            </h6>
                            <p v-show="rooms.length == 0">-                                         
                                <span v-show="langCheck('ind')">Tidak Ada Ruangan</span>
                                <span v-show="langCheck('en')">No Room</span> 
                            -</p>
                            <ul class="collection" v-for="(r,i) in rooms" v-bind:key="r.id">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle green">group</i>
                                    <span class="title">
                                        <span v-show="langCheck('ind')">Ruangan</span>
                                        <span v-show="langCheck('en')">Room</span>
                                    {{ r.name }}</span>
                                    <br /><br />
                                    <a class="waves-effect waves-light btn-small green white-text" @click="toRoom(r.id)">
                                        <span v-show="langCheck('ind')">Gabung</span>
                                        <span v-show="langCheck('en')">Join</span>
                                    </a>
                                    <a style="cursor: pointer;" class="secondary-content" @click="deleteRoom(r.id)" v-show="r.removable"><i class="material-icons green-text">delete</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!---------ROOM PAGE---------->
        <div v-show="getPageName == 'room-page'">

            <div class="row">
                <div class="col l3 hide-on-med-and-down">
                    <div class="card-panel white center ">                     
                        <h6 class="green-text">
                            {{ room.name }}
                        </h6>
                        <a class="waves-effect waves-light btn-large green white-text" @click="switchPage('main-page')">
                            <span v-show="langCheck('ind')">Keluar Ruangan</span>
                            <span v-show="langCheck('en')">Exit Room</span>
                        </a> 
                    </div>  
                    <div class="card-panel white">
                        <h6 class="green-text">
                            <span v-show="langCheck('ind')">Pemain</span>
                            <span v-show="langCheck('en')">Players</span>
                        </h6>
                        <ul class="collection" v-for="p in room.players" v-bind:key="p.id">
                            <li class="collection-item avatar">
                                <i class="material-icons circle green">account_circle</i>
                                <span class="title">
                                    {{ p.name }}
                                </span>
                                <p>  
                                    $ {{ p.money }} <br>
                                    Status : {{ p.status == 0 ? 'Ready' : p.status == 1 ? 'Playing' : p.status == 2 ? 'Idle' : p.status == 3 ? 'In Turn' : p.status == 4 ? 'End Turn' : 'Out' }}  
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m12 l9">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel white">
                                <h6 class="green-text">
                                    <span v-show="langCheck('ind')">DEALER</span>
                                    <span v-show="langCheck('en')">DEALER</span>
                                </h6>
                                <ul class="collection">
                                    <li class="collection-item avatar" :style="{'border-style': 'solid','border-color': room.dealer.status == 3 ? 'green' : 'white'}">
                                        <i class="material-icons circle green">account_circle</i>
                                        <span class="title">
                                            {{ room.dealer.name }}
                                        </span>
                                        <p>Total : {{ room.dealer.total_show }} <br /><br /> </p>  
                                        <div class="row">  
                                            <div v-for="(c,ic) in room.dealer.cards" v-bind:key="ic" class="col s1 m1 l1 card-panel z-depth-2 remi-card" :class="{'white': c.show,'grey lighten-1': !c.show}" style="width: 90px;margin-left:-50px;float:left;">
                                                <div class="card-bg" :style="{'background-image': 'url('+ c.image +')'}">
                                                    <span class="black-text" v-show="c.show">
                                                        <span class="left">{{ c.label }}</span> 
                                                        <br /><br />
                                                        <div class="row">
                                                            <span class="col s4 offset-s4"> <br /> </span>
                                                        </div>
                                                        <br /> 
                                                        <span class="right">{{ c.label }}</span>
                                                    </span>
                                                </div>
                                                <span class="white-text" v-show="!c.show">
                                                    <span class="left">  ? </span> 
                                                    <br /><br />
                                                    <div class="row">
                                                        <span class="col s4 offset-s4"> ? </span>
                                                    </div>
                                                    <br /> 
                                                    <span class="right"> ? </span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>        
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel white">
                                <h6 class="green-text">
                                    <span v-show="langCheck('ind')">PEMAIN</span>
                                    <span v-show="langCheck('en')">PLAYER</span>
                                </h6>
                                <ul class="collection" v-for="(r,i) in room.players" v-bind:key="i">
                                    <li class="collection-item avatar" :style="{'border-style': 'solid','border-color': r.status == 3 ? 'green' : 'white'}">
                                        <i class="material-icons circle green">account_circle</i>
                                        <span class="title">{{ r.name }} </span>
                                        <p> Bet : $ {{ r.bet }} &nbsp;&nbsp; Total : {{ r.total_show }}<br /><br /> </p>
                                        <p v-show="r.cards.length == 0">
                                            <span v-show="langCheck('ind')">- Tidak Ada Kartu -</span>
                                            <span v-show="langCheck('en')">- No Cards -</span>
                                        </p>     
                                        <div class="row">  
                                            <div v-for="(c,ic) in r.cards" v-bind:key="ic" class="col s1 m1 l1 card-panel z-depth-3 remi-card" :class="{'white': c.show,'grey lighten-1': !c.show}" style="width: 90px;margin-left:-50px;float:left;">
                                                <div class="card-bg" :style="{'background-image': 'url('+ c.image +')'}">
                                                    <span class="black-text" v-show="c.show">
                                                        <span class="left">{{ c.label }}</span> 
                                                        <br /><br />
                                                        <div class="row">
                                                            <span class="col s4 offset-s4"><br /> </span>
                                                        </div>
                                                        <br /> 
                                                        <span class="right">{{ c.label }}</span>
                                                    </span>
                                                </div>
                                                <span class="white-text" v-show="!c.show">
                                                    <span class="left">  ? </span> 
                                                    <br /><br />
                                                    <div class="row">
                                                        <span class="col s4 offset-s4"> ? </span>
                                                    </div>
                                                    <br /> 
                                                    <span class="right"> ? </span>
                                                </span>
                                            </div>
                                        </div> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-room-bet" class="modal bottom-sheet">
                <div class="center">
                    <h5 class="green-text">
                        <span v-show="langCheck('ind')">Masukkan Taruhan Anda</span>
                        <span v-show="langCheck('en')">Settle Your Bet</span>                    
                    </h5>
                    <div class="row">
                        <div class="col s1 m2 l3"></div>
                        <div class="center col s10 m8 l6">
                            <h5 class="red-text">
                                $ {{ player_in_room.bet }}                  
                            </h5>
                            <p class="range-field">
                                <input class="range-green" type="range" min="50" :max="player.money" v-model="player_in_room.bet" />
                            </p>
                        </div>
                        <div class="col s1 m2 l3"></div>
                    </div>
                    <br />
                    <a class="waves-effect waves-light btn-large green white-text" style="text-transform: none;" :disabled="player_in_room.bet == 0" @click="setBet">
                        <span v-show="langCheck('ind')">Pasang Taruhan</span>
                        <span v-show="langCheck('en')">Set Bet</span>
                    </a>
                    &nbsp;&nbsp;
                    <a class="waves-effect waves-light btn-large white green-text" @click="switchPage('main-page')">
                        <span v-show="langCheck('ind')">Keluar Ruangan</span>
                        <span v-show="langCheck('en')">Exit Room</span>
                    </a> 
                </div>
                <br /> <br />
            </div>
            <div id="modal-room-action" class="modal bottom-sheet">
                <div class="center">
                    <h5 class="green-text">
                        <span v-show="langCheck('ind')">Giliran Anda</span>
                        <span v-show="langCheck('en')">Your Turn</span>                    
                    </h5>
                    <a class="waves-effect waves-light btn-large green white-text" style="text-transform: none;" @click="setAction(0)">
                        <span v-show="langCheck('ind')">Minta Kartu!</span>
                        <span v-show="langCheck('en')">Hit Me!</span>
                    </a>
                    &nbsp;&nbsp;
                    <a class="waves-effect waves-light btn-large white green-text" style="text-transform: none;" @click="setAction(1)">
                        <span v-show="langCheck('ind')">Aku Tinggal!</span>
                        <span v-show="langCheck('en')">I'am Stay!</span>
                    </a>
                </div>
                <br /> <br />
            </div>


            <br /> <br /> <br /> <br />
            <br /> <br /> <br /> <br />
        </div>

    </div>
    <!-- built files will be auto injected -->

    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/materialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

	// FOR BROADCASTER RECEIVER
	const LOBBY_EVENT_ON_JOIN         = "LOBBY_EVENT_ON_PLAYER_JOIN"
	const LOBBY_EVENT_ON_DISCONNECTED = "LOBBY_EVENT_ON_PLAYER_DISCONNECTED"
	const LOBBY_EVENT_ON_LOGOUT       = "LOBBY_EVENT_ON_PLAYER_LOGOUT"

    const ROOM_EVENT_ON_JOIN          = "ROOM_EVENT_ON_PLAYER_JOIN"
	const ROOM_EVENT_ON_DISCONNECTED  = "ROOM_EVENT_ON_PLAYER_DISCONNECTED"
    const LOBBY_EVENT_ON_ROOM_CREATED = "LOBBY_EVENT_ON_ROOM_CREATED"
	const LOBBY_EVENT_ON_ROOM_REMOVE  = "LOBBY_EVENT_ON_ROOM_REMOVED"
    const ROOM_EVENT_ON_PLAYER_SET_BET  = "ROOM_EVENT_ON_PLAYER_SET_BET"
    const ROOM_EVENT_ON_PLAYER_END_TURN = "ROOM_EVENT_ON_PLAYER_END_TURN"
    const ROOM_EVENT_ON_GAME_END = "ROOM_EVENT_ON_GAME_END"
    const ROOM_EVENT_ON_PLAYER_BLACKJACK_WIN = "ROOM_EVENT_ON_PLAYER_BLACKJACK_WIN"
    const ROOM_EVENT_ON_PLAYER_BUST = "ROOM_EVENT_ON_PLAYER_BUST"
	const ROOM_EVENT_ON_GAME_START   = "ROOM_EVENT_ON_GAME_START"
	const ROOM_EVENT_ON_CARD_GIVEN   = "ROOM_EVENT_ON_CARD_GIVEN"

    // FOR ROOM STATUS
    const ROOM_STATUS_USE     = 0
    const ROOM_STATUS_ON_PLAY = 1
    const ROOM_STATUS_NOT_USE = 2

    // FOR ROOM PLAYER AS VALUE
    const AS_VALUE_ELEVEN = 0
    const AS_VALUE_ONE    = 1

    // FOR ROOM PLAYER STATUS
    const PLAYER_STATUS_INVITED = 0
    const PLAYER_STATUS_SET_BET = 1
    const PLAYER_STATUS_IDLE    = 2
    const PLAYER_STATUS_AT_TURN = 3
    const PLAYER_STATUS_FINISH_TURN = 4
    const PLAYER_STATUS_OUT     = 5
    const PLAYER_STATUS_BUST    = 6


    new Vue({
        el: '#app',
        data() {
            return {
                players : [],
                player : {
                    id : "",
                    name : "",
                    money : 0
                },
                rooms : [],
                room : {
                    id:"",
                    name : "",
                    dealer : {
                        id:"",
                        name:"",
                        bet:0,
                        cards : [],
                        total_show : 0,
                        total : 0,
                        status :0
                    },
                    players : [],
                    status : 0,
                },
                player_in_room : {
                    id:"",
                    name:"",
                    bet:50,
                    cards : [],
                    total_show : 0,
                    total : 0,
                    status :0                    
                },
                add_room : {
                    host_id:"",
                    name:"",
                    players:[]
                },
                lobby_ws : null,
                room_ws : null,
                is_online : true,
                is_loading : false,
                host : {
                    name : "",
                    protocol : "",
                    port : ""
                },
                random_name :"",
            }
        },
        created(){
            window.addEventListener('offline', () => { this.is_online = false })
            window.addEventListener('online', () => { this.is_online = true })
            window.history.pushState({ noBackExitsApp: true }, '')
            window.addEventListener('popstate', this.backPress )
            this.setCurrentHost()
        },
        mounted () {
            window.$('.dropdown-trigger').dropdown()
            window.$('.modal').modal({opacity:0.1,dismissible: false,preventScrolling:false})
            this.initPlayer()  
            this.randomName("yes")      
        },
        watch: {
            player_in_room : (val) => {
                window.$("#modal-room-action").modal(val.status == PLAYER_STATUS_AT_TURN ? 'open' : 'close');
                window.$("#modal-room-bet").modal(val.status == PLAYER_STATUS_INVITED || val.status == PLAYER_STATUS_IDLE ? 'open' : 'close');    
            }
        },
        computed : {
            getPageName(){
                let param = new URLSearchParams(window.location.search)
                let name = param.get('page')
                return name ? name : "login-page"
            }
        },
        methods : {
            addPlayer(){
                this.is_loading = true
                axios.post(this.baseUrl() + "addplayer", JSON.stringify(this.player))
                    .then(response => {
                        this.is_loading = false
                        if (response.data.status == 507) {
                            window.M.toast({html: '<b>Server is Full!</b>', classes: 'white green-text'})
                            return
                        }
                        this.player = response.data.result
                        if ('URLSearchParams' in window) {
                            var searchParams = new URLSearchParams(window.location.search);
                            searchParams.set('page','main-page');
                            searchParams.set('player-id',this.player.id);
                            window.location.search = searchParams.toString();
                        }
                    })
                    .catch(e => {
                        console.log(e)
                        this.is_loading = false
                    })
            },
            initPlayer(){
                let param = new URLSearchParams(window.location.search)
                if (!param.get('player-id')){
                    return
                }
                this.is_loading = true
                axios.post(this.baseUrl() + "player", JSON.stringify({id : param.get('player-id')}))
                    .then(response => {
                        this.is_loading = false
                        if (response.data.status == 404) {
                            window.location = this.baseUrl()
                            return
                        }
                        this.player = response.data.result
                        if (param.get('page') == 'main-page'){
                            this.initLobbyWs()
                        } else if (param.get('page') == 'room-page'){
                            this.initRoomWs(param.get('id-room'))
                        }                        
                    })
                    .catch(e => {
                        console.log(e)
                        this.is_loading = false
                    })
            },
            getPlayers(){
                axios.get(this.baseUrl() + "players")
                    .then(response => {
                        this.players = response.data.result
                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            getPlayerMoney(){
                axios.get(this.baseUrl() + "player/money" + "?id-player=" + this.player.id)
                    .then(response => {
                        this.player.money = response.data.result
                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            exit(){
                this.lobby_ws.close()
                this.is_loading = true
                axios.post(this.baseUrl() + "delplayer", JSON.stringify(this.player))
                    .then(response => {
                        this.is_loading = false
                        this.player = response.data.result
                        window.location = this.baseUrl()
                    })
                    .catch(e => {
                        console.log(e)
                        this.is_loading = false
                    })
            },
            addRoom(){
                this.add_room.host_id = this.player.id
                this.add_room.players.push(this.player)
                this.is_loading = true
                axios.post(this.baseUrl() + "addroom",JSON.stringify(this.add_room))
                    .then(response => {
                        this.is_loading = false
                        this.add_room = {
                            host_id:"",
                            name:"",
                            players:[]
                        }

                        if (response.data.status != 200) {
                            window.M.toast({html: '<b>Failed Create Room!</b>', classes: 'white green-text'})
                            return
                        }
                    })
                    .catch(e => {
                        this.is_loading = false
                        console.log(e)
                    })
            },
            getRoom(roomId){
                axios.post(this.baseUrl() + "room",JSON.stringify({id:roomId}))
                    .then(response => {
                        if (response.data.status == 404) {
                            window.M.toast({html: '<b>Room Not Found!</b>', classes: 'white green-text'})
                            return
                        }
                        this.room = response.data.result
                        this.getPlayerInRoom(roomId)
                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            getPlayerInRoom(roomId){
                axios.get(this.baseUrl() + "room/player" + "?id-player="+this.player.id + "&id-room="+roomId)
                    .then(response => {
                        if (response.data.status == 404) {
                            return
                        }
                        this.player_in_room = response.data.result
                        this.getPlayerMoney()
                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            getRooms(){
                axios.get(this.baseUrl() + "rooms" +"?id-player=" + this.player.id)
                    .then(response => {
                        this.rooms = response.data.result
                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            setBet(){
                this.is_loading = true
                axios.post(this.baseUrl() + "room/setbet",JSON.stringify({player_id : this.player.id, room_id : this.room.id, bet : parseInt(this.player_in_room.bet)}))
                    .then(response => {
                        this.is_loading = false
                        if (response.data.status == 404) {
                            window.M.toast({html: '<b>Room Not Found!</b>', classes: 'white green-text'})
                            return
                        }
                    })
                    .catch(e => {
                        this.is_loading = false
                        console.log(e)
                    })                
            },
            setAction(action){
                this.is_loading = true
                axios.post(this.baseUrl() + "room/action",JSON.stringify({player_id : this.player.id, room_id : this.room.id, choosed : action}))
                    .then(response => {
                        this.is_loading = false
                        if (response.data.status == 404) {
                            window.M.toast({html: '<b>Room Not Found!</b>', classes: 'white green-text'})
                            return
                        }
                    })
                    .catch(e => {
                        this.is_loading = false
                        console.log(e)
                    })                
            },
            deleteRoom(roomId){
                this.is_loading = true
                axios.post(this.baseUrl() + "delroom",JSON.stringify({id:roomId, player_id:this.player.id}))
                    .then(response => {
                        this.is_loading = false
                        if (response.data.status != 200) {
                            window.M.toast({html: '<b>Failed Delete Room!</b>', classes: 'white green-text'})
                            return
                        }
                    })
                    .catch(e => {
                        this.is_loading = false
                        console.log(e)
                    })
            },
            initLobbyWs(){
                this.lobby_ws = new WebSocket("ws://" + this.host.name + ":" + this.host.port + "/ws-lobby?id-player=" + this.player.id)
                this.lobby_ws.onmessage = (evt) => {
                    let event = JSON.parse(evt.data)
                    switch (event.name) {
                        case LOBBY_EVENT_ON_JOIN: 
                            window.M.toast({html: '<b>' + event.data.name + ' is Join!</b>', classes: 'white green-text'})
                            this.getPlayers()
                            break;
                        case LOBBY_EVENT_ON_LOGOUT: 
                            window.M.toast({html: '<b>' + event.data.name + ' is Logout!</b>', classes: 'white green-text'})
                            this.getPlayers()
                            break;
                        case LOBBY_EVENT_ON_DISCONNECTED:
                            window.M.toast({html: '<b>' + event.data.name + ' is Offline!</b>', classes: 'white green-text'})
                            this.getPlayers()
                            break;
                        case LOBBY_EVENT_ON_ROOM_CREATED:
                            window.M.toast({html: '<b>' + event.data.name + ' is Created!</b>', classes: 'white green-text'})
                            this.getRooms()
                            break;
                         case LOBBY_EVENT_ON_ROOM_REMOVE:
                            window.M.toast({html: '<b>' + event.data.name + ' is Removed!</b>', classes: 'white green-text'})
                            this.getRooms()
                            break;
                        default: break;
                    }
                }
                this.lobby_ws.onopen = () => {
                    this.getPlayers()
                    this.getRooms()                     
                }
                this.lobby_ws.onerror = (e) => {
                    console.log(e)
                    this.is_online = false
                }
            },
            initRoomWs(idR){
                let idRoom = idR
                this.room_ws = new WebSocket("ws://" + this.host.name + ":" + this.host.port + "/ws-room?id-player=" + this.player.id + "&id-room=" + idRoom)
                this.room_ws.onmessage = (evt) => {
                    let event = JSON.parse(evt.data)
                    switch (event.name) {
                        case ROOM_EVENT_ON_JOIN:
                            window.M.toast({html: '<b>' + event.data.name + ' is Join the room!</b>', classes: 'white green-text'})
                            this.getRoom(idRoom)
                            break;
                        case ROOM_EVENT_ON_PLAYER_SET_BET:
                            window.M.toast({html: '<b>' + event.data.name + ' is Join the room!</b>', classes: 'white green-text'})
                            this.getRoom(idRoom)
                            break;
                        case ROOM_EVENT_ON_GAME_START:
                            window.M.toast({html: '<b>game is started!</b>', classes: 'white green-text'})
                            this.getRoom(idRoom)
                            break;
                        case ROOM_EVENT_ON_CARD_GIVEN:
                            window.M.toast({html: '<b>Dealer given card</b>', classes: 'white green-text'})
                            this.getRoom(idRoom)
                            break;
                        case ROOM_EVENT_ON_PLAYER_END_TURN:
                            window.M.toast({html: '<b>' + event.data.name + ' has End Turn!</b>', classes: 'white green-text'})
                            this.getRoom(idRoom)
                            break
                        case ROOM_EVENT_ON_PLAYER_BLACKJACK_WIN:
                            window.M.toast({html: '<b>' + event.data.name + ' Total Card is 21!</b>', classes: 'white green-text'})
                            this.getRoom(idRoom)
                            break;
                        case ROOM_EVENT_ON_PLAYER_BUST:
                            window.M.toast({html: '<b>' + event.data.name + ' has Bust!</b>', classes: 'white green-text'})
                            this.getRoom(idRoom)
                            break
                        case ROOM_EVENT_ON_GAME_END:
                            window.M.toast({html: '<b>Round is End!</b>', classes: 'white green-text'})
                            this.getRoom(idRoom)
                            break;
                        case ROOM_EVENT_ON_DISCONNECTED:
                            window.M.toast({html: '<b>' + event.data.name + ' has Exit room!</b>', classes: 'white green-text'})
                            this.getRoom(idRoom)
                            break;
                        default: break;
                    }
                }
                this.room_ws.onopen = () => {
                    this.getRoom(idRoom)
                };
                this.room_ws.onclose = () => {
                     
                };
                this.room_ws.onerror = (e) => {
                    console.log(e)
                    this.is_online = false
                };
            },
            randomName(title){
                axios.get(this.baseUrl() + "random-name" + "?title="+title)
                    .then(response => {
                        this.random_name = response.data.result
                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            toRoom(idRoom){
                if ('URLSearchParams' in window) {
                    var searchParams = new URLSearchParams(window.location.search);
                    searchParams.set('id-room', idRoom);
                    searchParams.set('page', 'room-page');
                    window.location.search = searchParams.toString();
                }
            },
            switchPage(name){
                if ('URLSearchParams' in window) {
                    var searchParams = new URLSearchParams(window.location.search);
                    searchParams.set('page', name);
                    window.location.search = searchParams.toString();
                }
            },
            switchLang(lang){
                if ('URLSearchParams' in window) {
                    var searchParams = new URLSearchParams(window.location.search);
                    searchParams.set('lang', name);
                    window.location.search = searchParams.toString();
                }
            },
            langCheck(lang){
                let def = "ind"
                let param = new URLSearchParams(window.location.search)
                let name = param.get('lang')
                return name ? (name == lang) : (def == lang)
            },
            backPress(){
                if (event.state && event.state.noBackExitsApp) {
                    window.history.pushState({ noBackExitsApp: true }, '')
                }
            },
            setCurrentHost(){
                this.host.name = window.location.hostname
                this.host.port = location.port
                this.host.protocol = location.protocol.concat("//")
            },
            baseUrl(){
                return this.host.protocol.concat(this.host.name + ":" + this.host.port + "/")
            },
        }
    })


    </script>
</body>

</html>