<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
       Simple-21
    </title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="./css/custom.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <noscript>
      <strong>We're sorry but Simple-21 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>  
    <div id="app"> 

        <div id="bg"></div>
        
        <!---------OFFLINE WARNING---------->
        <div class="offline-warning">
            <transition name="bounce">
                <div class="container center" v-show="!is_online" v-on:click="is_online = true">
                    <div class="row">
                        <div class="col s12 m2"></div>
                        <div class="col s12 m8">
                            <div class="chip red white-text center">
                                <span class="white-text" v-show="langCheck('ind')">Perangkat Anda Sedang Offline!</span>
                                <span class="white-text" v-show="langCheck('en')">Your Device is Offline!</span>
                            </div>
                        </div>
                        <div class="col s12 m2"></div>
                    </div>
                </div>
            </transition>
        </div>


        <!---------LOADING---------->
        <div class="preloader-background" v-show="is_loading">
            
            <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
                <div class="valign" style="width:100%;">
                    <div class="container">
                        <div class="row">
                            <div class="center col s12 m6 offset-m3">
                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!---------MODAL CREATE ROOM---------->
        <div id="modal-create-room" class="modal modal-fixed-footer modal-fixed-header">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="center green-text">
                        <br />
                        <span v-show="langCheck('ind')">Buat Ruangan</span>
                        <span v-show="langCheck('en')">Create Room</span>
                    </h5>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s10 m10 l10">
                            <div class="input-field">
                                <input id="roomname" type="text" class="validate" v-model="add_room.name" :placeholder="add_room.name">
                                <label for="roomname">
                                    <span v-show="langCheck('ind')">Nama Ruangan</span>
                                    <span v-show="langCheck('en')">Room Name</span>
                                </label>   
                            </div>
                        </div>
                        <div class="col s2 m2 l2">
                            <br />
                            <a style="cursor: pointer;" @click="randomName('');add_room.name = random_name"><i class="small material-icons green-text">casino</i></a>
                        </div>
                    </div>
                    <div class="card-panel white">
                        <h6 class="green-text">
                            <span v-show="langCheck('ind')">Pemain ({{ players.length }})</span>
                            <span v-show="langCheck('en')">Players ({{ players.length }})</span>
                        </h6>
                        <p v-show="players.length <= 1">-                                         
                            <span v-show="langCheck('ind')">Tidak Ada Pemain Lain</span>
                            <span v-show="langCheck('en')">No Other Player Online</span> 
                        -</p>
                        <ul class="collection" v-for="p in players" v-bind:key="p.id" v-show="p.id != player.id">
                            <li class="collection-item avatar">
                                <i class="material-icons circle green">account_circle</i>
                                <span class="title">
                                    {{ p.name }} 
                                </span>
                                <br />
                                <i :class="{'material-icons':true,'red-text':!p.is_online,'green-text':p.is_online}">{{ p.is_online ? "link" : "link_off" }}</i>
                                </p>
                                <a class="secondary-content">
                                    <a style="cursor: pointer;" class="secondary-content"  @click="add_room.players.push(p)"  v-show="!add_room.players.includes(p)"><i class="material-icons green-text">send</i></a>
                                    <a class="secondary-content" v-show="add_room.players.includes(p)"><i class="material-icons green-text">check</i></a>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-light btn-medium btn green white-text" style="text-transform:none;width: 100%;" @click="addRoom">
                    <b>
                        <span v-show="langCheck('ind')">Buat</span>
                        <span v-show="langCheck('en')">Create</span>
                    </b>    
                </a>
            </div>
        </div>

        <!---------SIGN IN PAGE---------->
        <div v-show="getPageName == 'login-page'">

            <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
                <div class="valign" style="width:100%;">
                    <div class="container">
                       <div class="row">
                          <div class="col s12 m8 l6 offset-m2 offset-l3">

                            <div class="card">
                                <div class="card-title">
                                    <h5 class="center green-text">
                                        <br />
                                        <span v-show="langCheck('ind')">Selamat datang!</span>
                                        <span v-show="langCheck('en')">Welcome!</span>
                                    </h5>
                                </div>
                                <div class="card-image">
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s10 m10 l10">
                                            <div class="input-field">
                                                <input id="fullname" type="text" class="validate" v-model="player.name" :placeholder="player.name">
                                                <label for="fullname">
                                                    <span v-show="langCheck('ind')">Nama Pemain</span>
                                                    <span v-show="langCheck('en')">Player Name</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s2 m2 l2">
                                            <br />
                                            <a style="cursor: pointer;" @click="randomName('yes');player.name = random_name"><i class="small material-icons green-text">casino</i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="center card-action">
                                    <a class="waves-effect waves-light btn-large btn green white-text" style="text-transform:none;width: 100%;" @click="addPlayer">
                                        <b>
                                            <span v-show="langCheck('ind')">Masuk</span>
                                            <span v-show="langCheck('en')">Enter</span>
                                        </b>    
                                    </a>
                                </div>
                              </div>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>


        <!---------LOBBY PAGE---------->
        <div v-show="getPageName == 'main-page'">

            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12"> 
                        <div class="card-panel white">                     
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle green">account_circle</i>
                                    <span class="title">{{ player.name }}</span>
                                    <p> $ {{ player.money }}</p>
                                </li>
                            </ul>
                            <h5 class="green-text" v-show="player.money < 50">
                                <span v-show="langCheck('ind')">Isi Ulang</span>
                                <span v-show="langCheck('en')">Top Up</span>
                            </h5>
                            <div class="row" v-show="player.money < 50">
                                <div v-for="money in moneys" v-bind:key="money.id"  class="col s6 m6 l6 ">
                                    <div class="center card-panel z-depth-2">
                                        <div style="cursor: pointer;" @click=buyMoney(money.id)>
                                           
                                            <span class="center green-text">
                                                {{ money.name }}
                                            </span>
                                            <br />
                                            <span class="center black-text">
                                                $ {{ money.amount }}
                                            </span>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="center col s6 s6 l6">
                                    <br />
                                    <a class="col s12 waves-effect waves-light btn-large green white-text modal-trigger" data-target="modal-create-room">
                                        <span v-show="langCheck('ind')">Buat Ruangan</span>
                                        <span v-show="langCheck('en')">Create Room</span>
                                    </a>
                                    
                                </div>
                                <div class="center col s6 s6 l6">
                                    <br />
                                    <a class="col s12 waves-effect waves-light btn-large grey white-text" @click="exit">
                                        <span v-show="langCheck('ind')">Keluar</span>
                                        <span v-show="langCheck('en')">Exit</span>
                                    </a>
                                    
                                </div> 
                            </div> 
                        </div>                        
                    </div>
                </div>        
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="card-panel white">
                            <h6 class="green-text">
                                <span v-show="langCheck('ind')">Pemain ({{ players.length }})</span>
                                <span v-show="langCheck('en')">Players ({{ players.length }})</span>
                            </h6>
                            <p v-show="players.length <= 1">-                                         
                                <span v-show="langCheck('ind')">Tidak Ada Pemain Lain</span>
                                <span v-show="langCheck('en')">No Other Player Online</span> 
                            -</p>
                            <ul class="collection" v-for="p in players" v-bind:key="p.id" v-show="p.id != player.id">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle green">account_circle</i>
                                    <span class="title">
                                        {{ p.name }} 
                                    </span>
                                    <p>$ {{ p.money }} <br>
                                    </p>
                                    <a class="secondary-content"><i :class="{'material-icons':true,'red-text':!p.is_online,'green-text':p.is_online}">{{ p.is_online ? "link" : "link_off" }}</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s12 m6 l8">
                        <div class="card-panel white">
                            <h6 class="green-text">
                                <span v-show="langCheck('ind')">Ruang Bermain ({{ rooms.length }})</span>
                                <span v-show="langCheck('en')">Rooms ({{ rooms.length }})</span>
                            </h6>
                            <p v-show="rooms.length == 0">-                                         
                                <span v-show="langCheck('ind')">Tidak Ada Ruangan</span>
                                <span v-show="langCheck('en')">No Room</span> 
                            -</p>
                            <ul class="collection" v-for="(r,i) in rooms" v-bind:key="r.id">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle green">group</i>
                                    <span class="title">
                                        <span v-show="langCheck('ind')">Ruangan</span>
                                        <span v-show="langCheck('en')">Room</span>
                                    {{ r.name }}</span>
                                    <br /><br />
                                    <a class="waves-effect waves-light btn-small green white-text" @click="toRoom(r.id)">
                                        <span v-show="langCheck('ind')">Gabung</span>
                                        <span v-show="langCheck('en')">Join</span>
                                    </a>
                                    <a style="cursor: pointer;" class="secondary-content" @click="deleteRoom(r.id)" v-show="r.removable"><i class="material-icons green-text">delete</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!---------ROOM PAGE---------->
        <div v-show="getPageName == 'room-page'">

            <div class="row">
                <div class="col l3 hide-on-med-and-down">
                    <div class="card-panel white center ">                     
                        <h6 class="green-text">
                            {{ room.name }}
                        </h6>
                        <a class="waves-effect waves-light btn-large green white-text" @click="switchPage('main-page')">
                            <span v-show="langCheck('ind')">Keluar Ruangan</span>
                            <span v-show="langCheck('en')">Exit Room</span>
                        </a> 
                    </div>  
                    <div class="card-panel white">
                        <h6 class="green-text">
                            <span v-show="langCheck('ind')">Pemain</span>
                            <span v-show="langCheck('en')">Players</span>
                        </h6>
                        <ul class="collection" v-for="p in room.players" v-bind:key="p.id">
                            <li class="collection-item avatar">
                                <i class="material-icons circle green">account_circle</i>
                                <span class="title">
                                    {{ p.name }}
                                </span>
                                <p>  
                                    $ {{ p.money }} <br>
                                    Status : {{ p.status == 0 ? 'Ready' : p.status == 1 ? 'Playing' : p.status == 2 ? 'Idle' : p.status == 3 ? 'In Turn' : p.status == 4 ? 'End Turn' : 'Out' }}  
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m12 l9">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel white">
                                <h6 class="green-text">
                                    <span v-show="langCheck('ind')">DEALER</span>
                                    <span v-show="langCheck('en')">DEALER</span>
                                </h6>
                                <ul class="collection">
                                    <li class="collection-item avatar" :style="{'border-style': 'solid','border-color': room.dealer.status == 3 ? 'green' : 'white'}">
                                        <i class="material-icons circle green">account_circle</i>
                                        <span class="title">
                                            {{ room.dealer.name }}
                                        </span>
                                        <p>Total : {{ room.dealer.total_show }} <br /><br /> </p>  
                                        <div class="row">  
                                            <div v-for="(c,ic) in room.dealer.cards" v-bind:key="ic" class="col s1 m1 l1 card-panel z-depth-2 remi-card" :style="{'border-style': 'dotted','border-color': !c.show ? 'black' : 'white'}" style="width: 90px;margin-left:-50px;float:left;">
                                                <div class="card-bg" :style="{'background-image': 'url('+ c.image +')'}">
                                                    <span class="black-text" v-show="c.show">
                                                        <span class="left">{{ c.label }}</span> 
                                                        <br /><br />
                                                        <div class="row">
                                                            <span class="col s4 offset-s4"> <br /> </span>
                                                        </div>
                                                        <br /> 
                                                        <span class="right">{{ c.label }}</span>
                                                    </span>
                                                </div>
                                                <span class="black-text" v-show="!c.show">
                                                    <span class="left">  <br /> </span> 
                                                    <br /><br />
                                                    <p class="center" style="font-size: 34px;">
                                                        ?
                                                    </p>
                                                    <br /> 
                                                    <br /> 
                                                    <span class="right"> <br /> </span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>        
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel white">
                                <h6 class="green-text">
                                    <span v-show="langCheck('ind')">PEMAIN</span>
                                    <span v-show="langCheck('en')">PLAYER</span>
                                </h6>
                                <ul class="collection" v-for="(r,i) in room.players" v-bind:key="i">
                                    <li class="collection-item avatar" :style="{'border-style': 'solid','border-color': r.status == 3 ? 'green' : r.status == 6 ? 'red' : 'white'}">
                                        <i class="material-icons circle green">account_circle</i>
                                        <span class="title">{{ r.name }} </span>
                                        <span v-show="langCheck('ind') && r.id == player.id"> (Anda) </span>
                                        <span v-show="langCheck('en') && r.id == player.id"> (You) </span>
                                        <p> Bet : $ {{ r.bet }} &nbsp;&nbsp; Total : {{ r.total_show }}<br /><br /> </p>
                                        <p v-show="r.cards.length == 0">
                                            <span v-show="langCheck('ind')">- Tidak Ada Kartu -</span>
                                            <span v-show="langCheck('en')">- No Cards -</span>
                                        </p>     
                                        <div class="row">  
                                            <div v-for="(c,ic) in r.cards" v-bind:key="ic" class="col s1 m1 l1 card-panel z-depth-3 remi-card" :class="{'white': c.show,'grey lighten-1': !c.show}" style="width: 90px;margin-left:-50px;float:left;">
                                                <div class="card-bg" :style="{'background-image': 'url('+ c.image +')'}">
                                                    <span class="black-text" v-show="c.show">
                                                        <span class="left">{{ c.label }}</span> 
                                                        <br /><br />
                                                        <div class="row">
                                                            <span class="col s4 offset-s4"><br /> </span>
                                                        </div>
                                                        <br /> 
                                                        <span class="right">{{ c.label }}</span>
                                                    </span>
                                                </div>
                                                <span class="white-text" v-show="!c.show">
                                                    <span class="left">  ? </span> 
                                                    <br /><br />
                                                    <div class="row">
                                                        <span class="col s4 offset-s4"> ? </span>
                                                    </div>
                                                    <br /> 
                                                    <span class="right"> ? </span>
                                                </span>
                                            </div>
                                        </div> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal bet -->
            <div id="modal-room-bet" class="modal bottom-sheet">
                <div class="center">
                    <h5 class="green-text">
                        <span v-show="langCheck('ind')">Masukkan Taruhan Anda</span>
                        <span v-show="langCheck('en')">Settle Your Bet</span>                    
                    </h5>
                    <div class="row">
                        <div class="col s1 m2 l3"></div>
                        <div class="center col s10 m8 l6">
                            <h5 class="red-text" v-show="player.money > 0">
                                $ {{ player_in_room.bet }}                  
                            </h5>
                            <p v-show="player.money <= 0"> 
                                <span v-show="langCheck('ind')">Uang Anda Tidak Cukup!</span>
                                <span v-show="langCheck('en')">You Dont Have enough money!</span>
                             </p>
                            <p class="range-field" v-show="player.money > 0">
                                <input class="range-green" type="range" min="50" :max="player.money" v-model="player_in_room.bet" />
                            </p>
                        </div>
                        <div class="col s1 m2 l3"></div>
                    </div>
                    <br />
                    <a class="waves-effect waves-light btn-large green white-text" style="text-transform: none;margin-top: 10px;" :disabled="player_in_room.bet == 0" @click="setBet" v-show="player.money > 0">
                        <span v-show="langCheck('ind')">Pasang Taruhan</span>
                        <span v-show="langCheck('en')">Set Bet</span>
                    </a>
                    &nbsp;&nbsp;
                    <a class="waves-effect waves-light btn-large white green-text" style="text-transform: none;margin-top: 10px;" @click="switchPage('main-page')">
                        <span v-show="langCheck('ind')">Keluar Ruangan</span>
                        <span v-show="langCheck('en')">Exit Room</span>
                    </a> 
                </div>
                <br /> <br />
            </div>

            <!-- Modal player action -->
            <div id="modal-room-action" class="modal bottom-sheet">
                <div class="center">
                    <h5 class="green-text">
                        <span v-show="langCheck('ind')">Giliran Anda</span>
                        <span v-show="langCheck('en')">Your Turn</span>                    
                    </h5>
                    <a class="waves-effect waves-light btn-large green white-text" style="text-transform: none;margin-top: 10px;" @click="setAction(0)">
                        <span v-show="langCheck('ind')">Minta Kartu!</span>
                        <span v-show="langCheck('en')">Hit Me!</span>
                    </a>
                    &nbsp;&nbsp;
                    <a class="waves-effect waves-light btn-large white green-text" style="text-transform: none;margin-top: 10px;" @click="setAction(1)">
                        <span v-show="langCheck('ind')">Aku Tinggal!</span>
                        <span v-show="langCheck('en')">I'am Stay!</span>
                    </a>
                </div>
                <br /> <br />
            </div>

            <!-- Modal Message lose -->
            <div id="modal-room-lose" class="modal">
                <div class="modal-content">
                <h4 class="green-text">
                    <span v-show="langCheck('ind')">Anda Kalah</span>
                    <span v-show="langCheck('en')">You Lose</span>
                </h4>
                <p>
                    <span v-show="langCheck('ind')">Semua Taruhan anda diambil</span>
                    <span v-show="langCheck('en')">All your bet is taken</span>
                </p>
                </div>
                <div class="modal-footer">
                <a style="cursor: pointer;" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

            <!-- Modal Message win -->
            <div id="modal-room-win" class="modal">
                <div class="modal-content">
                <h4 class="green-text">
                    <span v-show="langCheck('ind')">Anda Menang</span>
                    <span v-show="langCheck('en')">You Win</span>
                </h4>
                <p>
                    <span v-show="langCheck('ind')">Uang Anda telah ditambah</span>
                    <span v-show="langCheck('en')">Your money hass been increase</span>
                </p>
                </div>
                <div class="modal-footer">
                <a style="cursor: pointer;" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

            <br /> <br /> <br /> <br />
            <br /> <br /> <br /> <br />
        </div>

    </div>
    <!-- built files will be auto injected -->

    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/materialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./main.js"></script>
</body>

</html>